
{{define "main"}}
<section class="container-fluid p-0">
    <div class="bg-dark text-white m-0 p-0">
        <div class="container py-5">
            <p class="text-body-secondary">Blog Post</p>
            <h1 class=" text-white">{{.Title}}</h1>
            <p class="col-auto mx-auto lead">{{.Summary}}</p>
        </div>
    </div>

</section>
<nav class="navbar  bg-dark py-0  sticky-top" style="top:3rem">
    <div class="container-fluid p-0 m-0 w-100">
        {{.TableOfContents}}
    </div>
</nav>

<section class="container blog-post mt-5" data-bs-spy="scroll" data-bs-target="nav.navbar#TableOfContents" data-bs-root-margin="0px 0px 0%" data-bs-smooth-scroll="true">
    <div class="row h-100">
        <aside class="col-md-4">
            <nav class="navbar p-0 m-0 d-none">
                <div class="container-fluid p-0 m-0 w-100">
                    {{.TableOfContents}}
                </div>
            </nav>
        </aside>
        <article class="col-18 col-md-18 col-lg-14 col-xl-10" data-bs-spy="scroll" data-bs-target="#TableOfContents" data-bs-threshold="0.1" data-bs-smooth-scroll="true">
            {{.Content}}
        </article>
        <aside class="offset-lg-4 offset-0 col-18 col-lg-14 col-xl-4 offset-xl-0">
            <div class="sticky-top" style="top: 3rem">
                <h6>References</h6>
                <ol>
                    {{range $k,$v := .Params.references}}
                        <li><a href="{{ $v }}" class="small text-break">{{ $v }}</a></li>
                    {{end}}
                </ol>

                <div class="pb-3">
            <h6 class="">Enjoyed the article?<br> <span class="small">Share it with your colleagues</span></p>
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-primary btn-icon-only">
                    <i class="bi bi-twitter"></i>
                </button>
                <button type="button" class="btn btn-outline-dark btn-icon-only">
                    <i class="bi bi-linkedin"></i>
                </button>
                <button type="button" class="btn btn-primary btn-icon-only">
                    <i class="bi bi-link-45deg"></i>
                </button>
            </div>

        </div>
            </div>
            <div class="row">
        <div class="col-md-3 d-none d-lg-block"></div>

    </div>
        </aside>
    </div>
</section>
{{end}}
