{{define "main"}}
<section class="container pt-5 blog-post">
    <div class="row">
        <aside class="col-md-4 d-none d-lg-block">
            <div class="sticky-top " style="top: 3rem">
                {{.TableOfContents}}
            </div>
        </aside>
        <article class="col-18 col-md-18 col-lg-14 col-xl-10">
            <h1 class="display-5">{{.Title}}</h1>
            <p class="lead">{{.Summary}}</p>
            {{.Content}}
        </article>
        <aside class="offset-lg-4 offset-0 col-18 col-lg-14 col-xl-4 offset-xl-0">
            <h6>References</h6>
            <ol>
                {{range $k,$v := .Params.references}}
                    <li><a href="{{ $v }}" class="small text-break">{{ $v }}</a></li>
                {{end}}
            </ol>

        </aside>
    </div>
    <div class="row">
        <div class="col-md-3 d-none d-lg-block"></div>
        <div class="col-14 offset-4 pb-3">
            <p class="">Enjoyed the article?<br> <span class="small">Share it with your colleagues</span></p>
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-primary btn-icon-only">
                    <i class="bi bi-twitter"></i>
                </button>
                <button type="button" class="btn btn-outline-dark btn-icon-only">
                    <i class="bi bi-linkedin"></i>
                </button>
                <button type="button" class="btn btn-primary btn-icon-only">
                    <i class="bi bi-link-45deg"></i>
                </button>
            </div>

        </div>
    </div>
</section>
<div class="container-fluid p-0 mt-1 bg-body-secondary">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-4 d-none d-lg-block "></div>
            <div class="col-18 col-md-18 col-lg-14 col-xl-10">
                <div class="btn-group w-100" role="group" aria-label="Basic example">
                    <a href="#" class="btn btn-outline-dark btn-lg w-100">
                        <span class="display-6">Previous post</span>
                    </a>
                    <a href="#" class="btn btn-info btn-lg w-100">
                        <span class="display-6">Next post</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>
{{end}}
