{{define "main"}}
<section class="container pt-5 min-vh-no-navbar" >
    <div class="row pt-5">
        <div class="section-header">
            <p  class="section-header-text">{{i18n "contactContactSectionHeaderTextTR" | title}}</p>
            <p class="small text-body-secondary">{{i18n "contactContactSectionSubHeaderTextTR" | title}}</p>
        </div>
        <div class="section-content">
            <form method="POST" data-netlify="true" id="contactForm" data-netlify-recaptcha="true" action="/pages/success">
                <div class="card mb-5 mb-sm-0">
                    <div class="card-body">
                        <h5 >{{ i18n "contactFormHeaderTextTR" | title }}</h5>
                        <div class="row ">
                            <div class="col-18 col-lg-9">
                                <div class="mb-2">
                                    <label for="userName" class="form-label">{{i18n "contactFormNameLabelTextTR" | title }}</label>
                                    <input type="text" class="form-control" id="userName" aria-describedby="userNameHelp" required minlength="3" placeholder="{{i18n "contactFormNamePlaceholderTextTR" | title }}">
                                </div>
                            </div>

                            <div class="col-18  col-lg-9">
                                <div class="mb-3">
                                    <label for="companyName" class="form-label">{{i18n "contactFormCompanyNameLabelTextTR" | title }}</label>
                                    <input type="text" class="form-control" id="companyName" aria-describedby="companyName" placeholder="{{i18n "contactFormCompanyNamePlaceholderTextTR" | title}}">
                                </div>
                            </div>
                        </div>


                        <div class="mb-3">
                            <label for="userEmail" class="form-label">{{i18n "contactFormEmailLabelTextTR" | title}}</label>
                            <input type="email" class="form-control" id="userEmail" required placeholder="{{i18n "contactFormEmailPlaceholderTextTR" | title}}">
                        </div>
                        <div class="mb-1">
                            <label for="userMsg" class="form-label ">{{i18n "contactFormMsgLabelTextTR" | title}}</label>
                            <textarea class="form-control" id="userMsg" rows="3" required minlength="5" placeholder="{{i18n "contactFormMsgPlaceholderTextTR" | title}}"></textarea>
                        </div>

                        <div data-netlify-recaptcha="true"></div>
                        <div class="form-text small">*{{i18n "contactFormInfoMsgTextTR" | title }}</div>
                    </div>
                    <div class="card-footer bg-transparent p-0 m-0">
                        <div class="d-grid gap-0 d-sm-flex justify-content-md-start w-100 p-0">
                            <button type="submit" class="btn btn-primary btn-lg w-100  ">{{i18n "contactFormSubmitBtnTextTR" | title }}</button>
                            <button type="reset" class="btn btn-danger btn-lg w-100 ">{{i18n "contactFormResetBtnTextTR" | title }}</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

{{end}}
