{{define "main"}}
<section class="container position-relative pt-5" style="min-height: 100vh">
    <div class="row">
        <div class="section-header-full">
            <h5 class="section-header-text-full"><strong>Contact</strong></h5>
            <p class="text-muted">
                Aliquam erat volutpat. Donec hendrerit vel sapien id blandit. Nullam nunc orci, pulvinar at lacus a, lacinia bibendum tortor. Integer convallis fringilla mi, in fringilla nunc suscipit a. Nunc consequat sed mi congue suscipit. Sed eget hendrerit nisi. Fusce in sodales ex, eu viverra lorem. Curabitur non quam vel tortor tincidunt rhoncus et eu nisl. Vivamus nec arcu venenatis, cursus nulla ut, lacinia magna. Etiam arcu ipsum, blandit vitae congue eu, ultricies at diam. Nunc consectetur vestibulum odio vel ullamcorper.
            </p>
        </div>
        <div class="section-content">
            <div class="row g-0">

                {{range .Site.Params.ownerSocialLinks}}
                <div class="col-sm-6 col-lg-3">
                    {{- partial "components/card-link.html"
                    (dict "ctx" $
                    "cardTitle" (title .name)
                    "cardDescription" (i18n .tooltip)
                    "cardCTALink" .link
                    )
                    -}}
                </div>
                {{end}}

                <div class="col-12">
                    <div class="card w-100 h-100 bg-secondary " >
                        <form>
                            <div class="card-body pb-0">
                                <h5 class="card-title">Form</h5>

                                <div class="mb-3">
                                    <label for="exampleFormControlInput1" class="form-label">Email address</label>
                                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                                </div>
                                <div class="mb-3">
                                    <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                </div>



                            </div>
                            <div class="btn-group btn-group-lg w-100" role="group" aria-label="Basic example">
                                <button type="button" class="btn btn-primary">Submit</button>
                                <button type="button" class="btn btn-dark">Reset</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

{{end}}
