{{define "main"}}
<div class="container h-100 w-100 pt-5">

    <section class="pt-5">
        <div class="row g-0">
            <div class="col-2">
                <button type="button" class="btn btn-primary btn-sm">Primary</button>
                <button type="button" class="btn btn-secondary btn-sm">Secondary</button>
                <button type="button" class="btn btn-success btn-sm">Success</button>
                <button type="button" class="btn btn-danger btn-sm">Danger</button>
                <button type="button" class="btn btn-warning btn-sm">Warning</button>
                <button type="button" class="btn btn-info btn-sm">Info</button>
                <button type="button" class="btn btn-light btn-sm">Light</button>
                <button type="button" class="btn btn-dark btn-sm">Dark</button>
                <button type="button" class="btn btn-link btn-sm">Link</button>
            </div>
            <div class="col-2">
                <button type="button" class="btn btn-primary">Primary</button>
                <button type="button" class="btn btn-secondary">Secondary</button>
                <button type="button" class="btn btn-success">Success</button>
                <button type="button" class="btn btn-danger">Danger</button>
                <button type="button" class="btn btn-warning">Warning</button>
                <button type="button" class="btn btn-info">Info</button>
                <button type="button" class="btn btn-light">Light</button>
                <button type="button" class="btn btn-dark">Dark</button>
                <button type="button" class="btn btn-link">Link</button>
            </div>
            <div class="col-2">
                <button type="button" class="btn btn-primary btn-lg">Primary</button>
                <button type="button" class="btn btn-secondary btn-lg">Secondary</button>
                <button type="button" class="btn btn-success btn-lg">Success</button>
                <button type="button" class="btn btn-danger btn-lg">Danger</button>
                <button type="button" class="btn btn-warning btn-lg">Warning</button>
                <button type="button" class="btn btn-info btn-lg">Info</button>
                <button type="button" class="btn btn-light btn-lg">Light</button>
                <button type="button" class="btn btn-dark btn-lg">Dark</button>
                <button type="button" class="btn btn-link btn-lg">Link</button>
            </div>
        </div>
    </section>


    <section class="pt-5">
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="tile-card tile-card-sm tile-card-link">
                    <div class="tile-card__body">
                        <p class="tile-card__body__subtitle"><strong>Industry</strong></p>
                        <h5 class="tile-card__body__title ">Aerospace and Defence</h5>
                        <a href="#" class="">Book a consultation
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                 class="bi bi-arrow-right" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                      d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <div class="tile-card">
                    <div class="tile-card__body">
                        <p class="tile-card__body__subtitle"><strong>Industry</strong></p>
                        <h5 class="tile-card__body__title ">Aerospace and Defence</h5>
                        <p class="tile-card__body__text">
                            Etiam porta, nibh eget pellentesque blandit, orci enim maximus ipsum, ut accumsan est nulla
                            ut libero. Suspendisse ut interdum lorem. Class aptent taciti sociosqu ad litora torquent
                            per conubia nostra, per inceptos himenaeos. Phasellus nec sollicitudin ex.
                        </p>
                        <a href="#" class="">Book a consultation
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                 class="bi bi-arrow-right" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                      d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <div class="tile-card">
                    <div class="tile-card__body">
                        <p class="tile-card__body__subtitle"><strong>Industry</strong></p>
                        <h5 class="tile-card__body__title ">Aerospace and Defence</h5>
                        <p class="tile-card__body__text">
                            Etiam porta, nibh eget pellentesque blandit, orci enim maximus ipsum, ut accumsan est nulla
                            ut libero. Suspendisse ut interdum lorem. Class aptent taciti sociosqu ad litora torquent
                            per conubia nostra, per inceptos himenaeos. Phasellus nec sollicitudin ex.
                        </p>
                        <a href="#" class="btn btn-primary m-0 text-end">Book a consultation
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                 class="bi bi-arrow-right" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                      d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>




            <div class="col-4">
                <div class="tile-card tile-card-lg">
                    <div class="tile-card__media">
                        <img src="https://media.giphy.com/media/ckB9wvcONerp73fvkQ/giphy.gif" class="card-img-top"
                             alt="...">
                    </div>
                    <div class="tile-card__body">
                        <p class="tile-card__body__subtitle"><strong>Industry</strong></p>
                        <h5 class="tile-card__body__title ">Aerospace and Defence</h5>
                        <p class="tile-card__body__text">
                            Etiam porta, nibh eget pellentesque blandit, orci enim maximus ipsum, ut accumsan est nulla
                            ut libero. Suspendisse ut interdum lorem. Class aptent taciti sociosqu ad litora torquent
                            per conubia nostra, per inceptos himenaeos. Phasellus nec sollicitudin ex.
                        </p>
                        <a href="#" class="">Book a consultation
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                 class="bi bi-arrow-right" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                      d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>


        </div>
    </section>
    <section class="pt-5">
        <div class="row">
            <div class="col-6">
                <div class="tile-card  tile-card-link tile-card-feature">
                    <div class="tile-card__media">
                        <img src="https://media.giphy.com/media/ckB9wvcONerp73fvkQ/giphy.gif" class="card-img-top"
                             alt="...">
                    </div>
                    <div class="tile-card__body">
                        <p class="tile-card__body__subtitle"><strong>Industry</strong></p>
                        <h5 class="tile-card__body__title ">Aerospace and Defence</h5>
                        <p class="tile-card__body__text">
                            Etiam porta, nibh eget pellentesque blandit, orci enim maximus ipsum, ut accumsan est nulla
                            ut libero. Suspendisse ut interdum lorem. Class aptent taciti sociosqu ad litora torquent
                            per conubia nostra, per inceptos himenaeos. Phasellus nec sollicitudin ex.
                        </p>
                        <a href="#" class="">Book a consultation
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                 class="bi bi-arrow-right" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                      d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="tile-card  tile-card-link tile-card-feature">
                    <div class="tile-card__media">
                        <img src="https://media.giphy.com/media/ckB9wvcONerp73fvkQ/giphy.gif" class="card-img-top"
                             alt="...">
                    </div>
                    <div class="tile-card__body">
                        <p class="tile-card__body__subtitle"><strong>Industry</strong></p>
                        <h5 class="tile-card__body__title ">Aerospace and Defence</h5>
                        <p class="tile-card__body__text">
                            Etiam porta, nibh eget pellentesque blandit, orci enim maximus ipsum, ut accumsan est nulla
                            ut libero. Suspendisse ut interdum lorem. Class aptent taciti sociosqu ad litora torquent
                            per conubia nostra, per inceptos himenaeos. Phasellus nec sollicitudin ex.
                        </p>
                        <a href="#" class="">Book a consultation
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                 class="bi bi-arrow-right" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                      d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="pt-5">
        <div class="row">
            <div class="col-6">
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Accordion Item #1
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Accordion Item #2
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Accordion Item #3
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <nav style="--bs-breadcrumb-divider: '/';" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Library</li>
                    </ol>
                </nav>
            </div>
        </div>

    </section>

    <section class="pt-5">
        <div class="row g-0">
            <div class="col-4">
                <div class="card " >
                    <div class="card-body ">
                        <h5 class="card-title" >Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="">Go somewhere</a>
                    </div>
                </div>
            </div>

            <div class="col-4">
                <div class="card " >
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.
                            With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="">Go somewhere</a>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="card " >
                    <div class="card-body ">
                        <h5 class="card-title" >Special title treatment</h5>
                        <p class="card-text">
                            Nulla finibus eu sapien sit amet accumsan. Nulla tempor neque ipsum, vitae hendrerit velit sollicitudin nec. Nunc convallis facilisis lectus, ut varius ipsum varius ac. Nulla vel eros vel nulla pharetra aliquam ut ut leo. In facilisis blandit diam, quis iaculis odio volutpat eget. Vestibulum condimentum porttitor vulputate. Morbi vehicula mauris nec malesuada dignissim. In porttitor tincidunt pharetra. Phasellus consectetur placerat sapien, sit amet laoreet tellus rhoncus eu.
                        </p>
                        <a href="#" class="">Go somewhere</a>
                    </div>
                </div>
            </div>



            <div class="col-4">
                <div class="card " >
                    <div class="card-body ">
                        <h5 class="card-title" >Special title treatment</h5>
                        <p class="card-text">
                            Nulla finibus eu sapien sit amet accumsan. Nulla tempor neque ipsum, vitae hendrerit velit sollicitudin nec. Nunc convallis facilisis lectus, ut varius ipsum varius ac. Nulla vel eros vel nulla pharetra aliquam ut ut leo. In facilisis blandit diam, quis iaculis odio volutpat eget. Vestibulum condimentum porttitor vulputate. Morbi vehicula mauris nec malesuada dignissim. In porttitor tincidunt pharetra. Phasellus consectetur placerat sapien, sit amet laoreet tellus rhoncus eu.
                        </p>
                    </div>

                    <div class="card-footer ">
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-primary">Left</button>
                            <button type="button" class="btn btn-secondary">Middle</button>
                        </div>

                    </div>
                </div>
            </div>



            <div class="col-4">
                <div class="card " >
                    <div class="card-body ">
                        <h5 class="card-title" >Special title treatment</h5>
                        <p class="card-text">
                            Nulla finibus eu sapien sit amet accumsan. Nulla tempor neque ipsum, vitae hendrerit velit sollicitudin nec. Nunc convallis facilisis lectus, ut varius ipsum varius ac. Nulla vel eros vel nulla pharetra aliquam ut ut leo. In facilisis blandit diam, quis iaculis odio volutpat eget. Vestibulum condimentum porttitor vulputate. Morbi vehicula mauris nec malesuada dignissim. In porttitor tincidunt pharetra. Phasellus consectetur placerat sapien, sit amet laoreet tellus rhoncus eu.
                        </p>

                    </div>
                    <div class="card-footer ">
                        <a href="#" class="">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-4">
                <div class="card " >
                    <div class="card-body ">
                        <h5 class="card-title" >Special title treatment</h5>
                        <p class="card-text">
                            Nulla finibus eu sapien sit amet accumsan. Nulla tempor neque ipsum, vitae hendrerit velit sollicitudin nec. Nunc convallis facilisis lectus, ut varius ipsum varius ac. Nulla vel eros vel nulla pharetra aliquam ut ut leo. In facilisis blandit diam, quis iaculis odio volutpat eget. Vestibulum condimentum porttitor vulputate. Morbi vehicula mauris nec malesuada dignissim. In porttitor tincidunt pharetra. Phasellus consectetur placerat sapien, sit amet laoreet tellus rhoncus eu.
                        </p>

                    </div>
                    <div class="card-footer ">
                        <a href="#" class="">Go somewhere
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                            </svg>

                        </a>

                    </div>
                </div>
            </div>

            <div class="col-4">
                <div class="card " >
                    <div class="card-img-top">
                        <img src="https://media.giphy.com/media/ckB9wvcONerp73fvkQ/giphy.gif" class="w-100 h-100" alt="">
                    </div>
                    <div class="card-body ">
                        <h5 class="card-title" >Special title treatment</h5>
                        <p class="card-text">
                            Nulla finibus eu sapien sit amet accumsan. Nulla tempor neque ipsum, vitae hendrerit velit sollicitudin nec. Nunc convallis facilisis lectus, ut varius ipsum varius ac. Nulla vel eros vel nulla pharetra aliquam ut ut leo. In facilisis blandit diam, quis iaculis odio volutpat eget. Vestibulum condimentum porttitor vulputate. Morbi vehicula mauris nec malesuada dignissim. In porttitor tincidunt pharetra. Phasellus consectetur placerat sapien, sit amet laoreet tellus rhoncus eu.
                        </p>

                    </div>
                    <div class="card-footer ">
                        <a href="#" class="">Go somewhere
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                            </svg>

                        </a>

                    </div>
                </div>
            </div>

        </div>
    </section>

</div>
{{end}}
