<html>
<head>
  {{ partial "meta" . }}
  {{ partial "links" . }}
  <base href="{{ .Site.BaseURL }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    html{
      font-size: 14px;
      /*line-height: 5px!important;*/
    }
    *{
      /*border: 1px solid black;*/

    }
    i{
      font-size: 16px !important;
      vertical-align: text-bottom !important;
      /*padding-right: 10px;*/
      margin-right: 0.2rem;
    }
    li{
      list-style: square;
    }
    #resume{
      width: 210mm;
      height: 297mm;
      border: 1px solid black;
      padding:31px;
    }
    @media print{
      a{
        text-decoration: none;
      }
    }
  </style>
</head>

<body class="p-0 m-0">
<div class="container-fluid  m-0" id="resume">
  <div class="row g-0">
    <div class="col-7">
      <h2 class="fw-medium mb-1">{{ .Site.Params.ownerFirstName | upper }} {{  .Site.Params.ownerLastName | upper}}</h2>
      <h5 class="fw-normal">{{i18n .Site.Params.ownerTitle | title}}</h5>
    </div>
    <div class="col">
      <div class="row g-0">
        <div class="col">
          <div class="row pb-1">
            <div class="col p-0">
              {{ range .Site.Params.ownerPhoneNumbers }}
              <a href="tel:{{.}}" class="p-0 m-0"><i class="bi bi-telephone"></i> {{.}}</a>
              <br>
              {{end}}
            </div>
          </div>
          <div class="row pb-1">
            <div class="col p-0">
              <a class="p-0 m-0 text-decoration-none" href="mailto:{{.Site.Params.ownerEmail}}"><i class="bi bi-envelope"></i> {{.Site.Params.ownerEmail}}</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="row pb-1">
            <div class="col p-0">
              <a href="{{.Site.Params.ownerWebsite}}" class="text-decoration-none"><i class="bi bi-globe"></i> {{substr .Site.Params.ownerWebsite 8}}</a>
            </div>
          </div>
          <div class="row pb-1">
            <div class="col p-0">
              {{ range where .Site.Params.ownerSocialLinks "id" "linkedin"}}
              <a class="p-0 m-0 text-decoration-none" href="{{.link}}"><i class="bi bi-linkedin"></i> {{substr .link 8}}</a>
              {{end}}
            </div>
          </div>
          <div class="row pb-1">
            <div class="col p-0">
              {{ range where .Site.Params.ownerSocialLinks "id" "git"}}
                <a class="p-0 m-0 text-decoration-none" href="{{.link}}"><i class="bi bi-github"></i> {{substr .link 8}}</a>
              {{end}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row g-0">
    <div class="col">
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <picture >
        <source srcset="/img/bgs/me3_cropped.webp" type="image/webp">
        <source srcset="/img/bgs/me3_cropped.jpeg" type="image/jpeg">
        <img src="/img/bgs/me3_cropped.jpeg" class="d-block mx-lg-auto img-fluid img-thumbnail"
             loading="lazy"
             alt="{{i18n "aboutHeroAltImageTextTR"}}">
      </picture>
    </div>
    <div class="col">
      <p>
        Highly skilled and experienced <b>Software Developer</b> with a passion for creating
        innovative and effective solutions for clients in a range of industries.
        Proficient in a variety of programming languages, including <b>Java, Javascript, and Python</b>
        and experienced in agile development methodologies. Strong problem-solving abilities
        and a team player with a track record of delivering high-quality projects on time and
        within budget. Committed to ongoing learning and professional development to stay
        up-to-date with the latest technologies and best practices.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-13">
      <h4 class="fw-normal">{{i18n "resumeResumeRawWorkExperienceHeaderTextTR" | title}}</h4>
      {{range sort .Site.Params.OwnerWorkExperience "period.from" "desc"}}
      <h5 class="fw-medium">{{title (i18n .jobTitle)}} <span class="fw-normal">{{i18n "resumeResumeRawAtTextTR"}}</span>
          <a href="{{.company.website}}" class="link"> {{.company.name}}</a>
        </h5>
        <p class="mb-1">{{i18n .description}}</p>
        <ul>
          {{range .list}}
            <li>
              <p class="mb-1">{{i18n .}}</p>
            </li>
          {{end}}
        </ul>
      {{end}}

    </div>
    <div class="col-5">
      <div class="row g-0">
        <div class="col">
          <div class="card border-0">
            <div class="card-body">
              <div class="">
                <h4 class="card-title fw-normal">{{i18n "resumeResumeRawSkillsHeaderTextTR" | title}}</h4>
                <div >
                  <ul class="list-group border-0">
                    {{range .Site.Params.ownerSkillsSet}}
                      <li class="list-group-item d-flex justify-content-between align-items-start border-0 px-0 pt-0 pb-2">
                        <div class="">
                          <b >{{.title | title}}</b><br>
                          <span class="fw-light">{{range .libs}}{{ .title }}, {{end}}</span>
                        </div>
                      </li>
                    {{end}}
                  </ul>
                </div>
              </div>


            </div>
          </div>
        </div>

        <div class="col">
          <div class="card border-0">
            <div class="card-body">
              <div class="">
                <h4 class="card-title fw-normal">{{i18n "resumeResumeRawEducationHeaderTextTR" | title}}</h4>
                <ul class="list-group border-0">
                  {{ range .Site.Params.ownerEducation}}
                    <li class="list-group-item d-flex justify-content-between align-items-start border-0 pt-1 px-0">
                      <div class=" me-auto">
                        <b>{{i18n .title | title}}</b>
                        <br>
                        <span class="fw-light">{{.institution}}
                          <br>{{.period}}
                        </span>
                      </div>
                    </li>
                  {{end}}
                </ul>
              </div>

            </div>
          </div>
        </div>
        <div class="col">
          <div class="card border-0">
            <div class="card-body">
              <div class="">
                <h4 class="card-title fw-normal">{{i18n "resumeResumeRawLangsHeaderTextTR" | title }}</h4>
                <ul>
                  {{range .Site.Params.OwnerLanguages}}
                    <li>{{i18n .language | title}}</li>
                  {{end}}
                </ul>
              </div>

            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>
</body>
</html>


