<html>
<head>
  <link href="{{ .Site.BaseURL | absLangURL}}css/styles.css" rel="stylesheet">
  <base href="{{ .Site.BaseURL }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    html{
      font-size: 14px;
      /*line-height: 5px!important;*/
    }
    *{
      /*border: 1px solid black;*/

    }
    i{
      font-size: 18px !important;
      vertical-align: text-bottom !important;
      /*padding-right: 10px;*/
      margin-right: 0.2rem;
    }
    li{
      list-style: square;
    }
    #resume{
      width: 210mm;
      height: 297mm;
      border: 1px solid black;
      padding:31px;
    }
    @media print{
      a{
        text-decoration: none;
      }
    }
  </style>
</head>

<body class="p-0 m-0">
<div class="container-fluid  m-0" id="resume">
  <div class="row g-0">
    <div class="col-7">
      <h2 class="fw-medium mb-1">{{ .Site.Params.ownerFirstName | upper }} {{  .Site.Params.ownerLastName | upper}}</h2>
      <h5 class="fw-normal">Software Developer</h5>
    </div>
    <div class="col">
      <div class="row g-0">
        <div class="col">
          <div class="row pb-1">
            <div class="col p-0">
              {{ range .Site.Params.ownerPhoneNumbers }}
              <a href="tel:{{.}}" class="p-0 m-0"><i class="bi bi-telephone"></i> {{.}}</a>
              <br>
              {{end}}
            </div>
          </div>
          <div class="row pb-1">
            <div class="col p-0">
              <a class="p-0 m-0 text-decoration-none" href="mailto:{{.Site.Params.ownerEmail}}"><i class="bi bi-envelope"></i> {{.Site.Params.ownerEmail}}</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="row pb-1">
            <div class="col p-0">
              <a href="{{.Site.Params.ownerWebsite}}" class="text-decoration-none"><i class="bi bi-globe"></i> {{substr .Site.Params.ownerWebsite 8}}</a>
            </div>
          </div>
          <div class="row pb-1">
            <div class="col p-0">
              {{ range where .Site.Params.ownerSocialLinks "id" "linkedin"}}
              <a class="p-0 m-0 text-decoration-none" href="{{.link}}"><i class="bi bi-linkedin"></i> {{substr .link 8}}</a>
              {{end}}
            </div>
          </div>
          <div class="row pb-1">
            <div class="col p-0">
              {{ range where .Site.Params.ownerSocialLinks "id" "git"}}
              <a class="p-0 m-0 text-decoration-none" href="{{.link}}"><i class="bi bi-github"></i> {{substr .link 8}}</a>
              {{end}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row g-0">
    <div class="col">
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <img src="/img/bgs/me-face.jfif" class="img-thumbnail" alt="">
    </div>
    <div class="col">
      <p>
        Highly skilled and experienced <b>Software Developer</b> with a passion for creating
        innovative and effective solutions for clients in a range of industries.
        Proficient in a variety of programming languages, including <b>Java, Javascript, and Python</b>
        and experienced in agile development methodologies. Strong problem-solving abilities
        and a team player with a track record of delivering high-quality projects on time and
        within budget. Committed to ongoing learning and professional development to stay
        up-to-date with the latest technologies and best practices.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-13">
      <h4 class="fw-normal">Work Experience</h4>
      {{range sort .Site.Params.OwnerWorkExperience "period.from" "desc"}}
        <h5 class="fw-medium">{{title (i18n .jobTitle)}} <span class="fw-normal">at {{.company.name}}</span></h5>
        <p class="mb-1">{{i18n .description}}</p>
        <ul>
          {{range .list}}
          <li>
            <p class="mb-1">{{i18n .}}</p>
          </li>
          {{end}}
        </ul>
      {{end}}

    </div>
    <div class="col-5">
      <div class="row g-0">
        <div class="col">
          <div class="card border-0">
            <div class="card-body">
              <div class="">
                <h4 class="card-title fw-normal">Skills</h4>
                <div >
                  <ul class="list-group border-0">
                    <li class="list-group-item d-flex justify-content-between align-items-start border-0 pt-1 px-0">
                      <div class=" me-auto">
                        <span >Programming Languages</span><br>
                        <span class="fw-light ">Java, Javascript, Python</span>
                      </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start border-0 pt-1 px-0">
                      <div class=" me-auto">
                        <span >Libraries & Frameworks</span><br>
                        <span class="fw-light">Angular, Ionic, Spring, Vertx</span>
                      </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start border-0 p-0">
                      <div class="me-auto">
                        <span >Tools & Platforms</span>
                        <br>
                        <span class="fw-light ">Firebase, Docker, Kubernetes, Jenkins</span>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>


            </div>
          </div>
        </div>

        <div class="col">
          <div class="card border-0">
            <div class="card-body">
              <div class="">
                <h4 class="card-title fw-normal">Education</h4>
                <ul class="list-group border-0">
                  <li class="list-group-item d-flex justify-content-between align-items-start border-0 pt-1 px-0">
                    <div class=" me-auto">
                      <div >Attended for Title of
                        Computational Mathematics</div>
                      <span class="fw-light">University JAUME I</br>2013</span>

                    </div>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-start border-0 pt-1 px-0">
                    <div class=" me-auto">
                      <div >Bachelor's Degree</div>
                      <span class="fw-light">
                        I.E.S Joan Coromines
                        </br>2011 - 2013
                      </span>
                    </div>
                  </li>
                </ul>
              </div>

            </div>
          </div>
        </div>
        <div class="col">
          <div class="card border-0">
            <div class="card-body">
              <div class="">
                <h4 class="card-title fw-normal">Languages</h4>
                <ul>
                  {{range .Site.Params.OwnerLanguages}}
                    <li>{{i18n .language}}</li>
                  {{end}}
                </ul>
              </div>

            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>
</body>
</html>


