{{define "main"}}
<section class="container pt-5 min-vh-no-navbar" >
    <div class="row pt-5">
        <div class="section-header">
            <p class="section-header-text">{{i18n "resumeResumeHeaderTextTR" | title }}</p>
            <p class="small text-body-secondary">{{i18n "resumeResumeSubHeaderTextTR" | strings.FirstUpper}}</p>
            <a id="resumeDownloadLink" download class="btn btn-outline-primary mb-3"
               href="cvs/{{.Site.Params.ownerFirstName}}{{.Site.Params.ownerLastname}}CV_en.pdf">
                <small class="small fs-8">PDF</small><br>
                {{i18n  "resumeResumeCTATextTR" | title}}
                <i class="ps-2 bi bi-download"></i>
                <br>
                <small class="fw-light fs-8">(0.42MB)</small>
            </a>
        </div>
        <div class="section-content">
            <div class="col-auto">
                <iframe
                        id="resume-iframe"
                        sandbox
                        loading="lazy"
                        class="d-lg-block d-sm-none mb-5 "
                        src="{{ absLangURL "/" }}resume-raw">
                </iframe>
            </div>

        </div>
    </div>
</section>
{{end}}
