{{define "main"}}
<section id="hero" class="container p-0" >
    <div class="row h-100 flex-md-row-reverse align-items-center m-0 justify-content-end">
        <div class="col-sm-18 col-md-9 pb-3 d-none d-xl-flex">
            <img src="/img/bgs/me3_cropped.jpeg" class="d-block mx-lg-auto img-fluid " alt="My face"  loading="lazy">
        </div>
        <div class="col-18 col-xl-8">
            <h1 class="display-5 fw-bold text-body-emphasis lh-sm-1 mb-3">Software Developer Shaping the Digital Landscape with Scalable Solutions</h1>
            <p class="lead lh-sm">Unleashing the Potential of Code: Driving Innovation and Transforming Realities through Proficient Software Development</p>
            <div class="hero-cta d-grid gap-0 d-sm-flex justify-content-md-start">
                <a href="{{(index .Site.Menus.contact 0).URL | relLangURL}}" class="btn btn-dark btn-lg w-100">Get in touch</a>
            </div>
        </div>
    </div>
</section>
<section class="container pb-5 ">
    <div class="row">
        <div class="section-header">
            <p class="section-header-text">About</p>
            <p class="small text-body-secondary">Beyond the Surface: A Candid Glimpse into My Background and Motivations</p>
        </div>
        <div class="section-content">
            <p>
                I am a passionate software developer who makes use of the best programming practices a priority. Knowing technologies at a deeper level allows me to optimize for the best performance available, whether it's on the front-end, back-end or areas in between. Having worked in the field made me discover the value of shipping a product on time and with consistent updates, thus always meeting customer satisfaction. I am always interested in learning new technologies and discovering new areas of software in this industry.
            </p>
            <p>Having an undestanding of multiple technologies always helped me better choose the right tools I will need
                for a project.<br>Below is a quick overview of the technical skill sets and technologies I'm most familiar with:
            </p>

            <div class="row">
                <div class="col">
                    <table class="table table-striped">
                        <tr>
                            <th>Core technologies</th>
                            <th>Frameworks / Libraries / Tool kits / Utilities</th>
                        </tr>
                        <tr>
                            <td>Java</td>
                            <td>Spring, Vertx</td>
                        </tr>
                        <tr>
                            <td>Javascript</td>
                            <td>NodeJS, Angular</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

    </div>
</section>
<section class="container pb-5">
    {{- partial "pages/blog-list.html" (dict "ctx" . "onHome" true) -}}
</section>
{{end}}
