{{define "main"}}
<div class="container vh-100" id="hero-cta"> 
    <div class="row flex-lg-row-reverse align-items-center h-100"> 
        <div class="col-sm-18 col-md-9">
            <source srcset="/img/bgs/me3_cropped.webp" type="image/webp">
            <source srcset="/img/bgs/me3_cropped.jpeg" type="image/jpeg">
            <img src="/img/bgs/me3_cropped.jpeg" class="d-block  img-fluid" loading="lazy" alt="{{i18n "aboutHeroAltImageTextTR"}}" width="700" height="500" loading="lazy"> 
        </div> 
        <div class="col-sm-18 col-md-9"> 
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">{{ i18n "aboutHeroHeaderTextTR" | title}}</h1> 
            <p class="lead">{{i18n "aboutHeroSubHeaderTextTR" | title }}</p>
            <div class="d-grid gap-2 d-lg-flex justify-content-lg-start w-100 p-0">
                <button type="button" class="btn btn-primary btn-xxl w-100 "><span class="display-10">{{i18n "aboutHeroCTAContactTextTR" | title}}</span></button>
                <button type="button" class="btn btn-secondary btn-xxl w-100 "><span class="display-10">Explore my work</span></button>
            </div>
        </div> 
    </div> 
</div>
<section class="container pb-5">
    <div class="row">
        <div class="col-sm-18 col-lg-4 col-xxl-4">
            <h2 class="display-6">{{i18n "aboutAboutSectionHeaderTextTR" | title }}</h2>
            <p class="small text-body-secondary">{{i18n "aboutAboutSectionSubHeaderTextTR" | title }}</p>
        </div>
        <div class="col-sm-18 col-lg-14 col-xxl-14">
                    <p>{{i18n "aboutAboutSectionSummaryOneTextTR" | safeHTML }}</p>
                    <p>{{ i18n "aboutAboutSectionSummaryTwoTextTR" | safeHTML }}</p>
                    <p>{{ i18n "aboutAboutSectionSummaryThreeTextTR" | safeHTML }}</p>
                    <p>{{ i18n "aboutAboutSectionSummaryFourTextTR" | safeHTML }}</p>
        </div>
    </div>
</section>
<section class="container pb-5">
    {{- partial "pages/blog-list.html" (dict "ctx" . "onHome" true) -}}
</section>
<section class="container pb-5">
    {{- partial "pages/projects-list.html" (dict "ctx" . "onHome" true) -}}
</section>
{{end}}
