{{define "main"}}
<div class="mzp-l-content mzp-t-content-md">
    <form class="mzp-c-form">
        <div class="mzp-c-form-header">
            <h2 class="mzp-c-form-title">Get in touch</h2>
            <p>You can contact me on <a href="#">Linkedin</a> or by email : <a href="mailto:danbaghilovici@gmail.com">danbaghilovici at gmail dot com</a>.
                <br>Alternatively you can complete and submit the form below and I will get in touch with you</p>
        </div>

        <fieldset class="mzp-c-field-set">
            <legend class="mzp-c-form-subtitle">Your Contact Information</legend>

            <div class="mzp-c-field">
                <label class="mzp-c-field-label" for="contact_company">Company <span class="mzp-c-fieldnote">Optional</span></label>
                <input class="mzp-c-field-control" type="text" name="contact_company" id="contact_company" value="" required aria-required="false">
            </div>

            <div class="mzp-c-field" >
                <label class="mzp-c-field-label" for="contact_name">Name <span class="mzp-c-fieldnote">Required</span></label>
                <input class="mzp-c-field-control" type="text" name="contact_name" id="contact_name" value="" required aria-required="true">
            </div>

            <div class="mzp-c-field">
                <label class="mzp-c-field-label" for="contact_email">E-mail <span class="mzp-c-fieldnote">Required</span></label>
                <input class="mzp-c-field-control" type="email" name="contact_email" id="contact_email" value="" required aria-required="true">
            </div>

            <div class="mzp-c-field">
                <label class="mzp-c-field-label" for="event_details">What do you need my help with
                    <span class="mzp-c-fieldnote">Consultancy, Developement , Integrations ...</span>
                </label>
                <textarea class="mzp-c-field-control" id="event_details" rows="5" cols="60"></textarea>
            </div>
        </fieldset>



        <footer class="mzp-c-form-footer">
            <div class="mzp-c-button-container mzp-l-h-between">
                <button class="mzp-c-button mz" type="submit">Submit Request</button>
                <button class="mzp-c-button mzp-t-secondary" type="reset">Clear</button>
                <p class="mzp-c-button-info">
                    Expect a response in 2-3 business days.
                </p>
            </div>
        </footer>
    </form>
</div>

{{end}}
