{{define "main"}}
<div class="mzp-c-split mzp-t-dark" id="project-lead" style="background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('{{.Params.Media}}');">
    <div class="mzp-c-split-bg">
        <div class="mzp-c-split-container">
            <div class="mzp-c-split-body ">
            </div>
        </div>
    </div>
</div>
<div class="mzp-l-content">
    <div class="mzp-has-sidebar mzp-l-sidebar-left" >
        <aside class="mzp-l-sidebar" style="height: 100vh">
            <nav  class="mzp-c-sidemenu" style="height: 100%">
                <section class="container" style="height: 100%">
                    <div class="row" style="position: sticky;position: -webkit-sticky;top: 88px;left: 0;overflow: visible">
                        <div class="col-12" style="margin: 3px 0;">
                            <a style="width: 100%" class="mzp-c-button mzp-t-product" href="/"> Download App</a>
                        </div>
                        <div class="col-12" style="margin: 3px 0;" >
                            <a style="width: 100%" class="mzp-c-button" type="button"> Source Code</a>
                        </div>
                        <div class="col-12" style="margin: 3px 0;" >
                            <a style="width: 100%" class="mzp-c-button" type="button">Website </a>
                        </div>
                    </div>
                </section>
            </nav>
        </aside>
        <main class="mzp-l-main">
            <article class="mzp-c-article">
                <h1 class="mzp-c-article-title">{{.Title}} </h1>
                <p class="mzp-c-article-intro">{{.Description}}</p>
                {{.Content}}
            </article>
        </main>

    </div>



</div>

{{end}}
