{{define "main"}}
<div class="mzp-c-split mzp-t-dark" id="project-lead" style="background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('{{.Params.Media}}');">
    <div class="mzp-c-split-bg">
        <div class="mzp-c-split-container">
            <div class="mzp-c-split-body ">
            </div>
        </div>
    </div>
</div>

<div class="mzp-l-content">

    <div class="mzp-has-sidebar mzp-l-sidebar-left" >
        <main class="mzp-l-main">
            <article class="mzp-c-article">
                <h1 class="mzp-c-article-title">{{.Title}} </h1>
                <p class="mzp-c-article-intro">{{.Description}}</p>
                {{.Content}}
            </article>
        </main>
        <aside class="mzp-l-sidebar" >
        <nav  class="mzp-c-sidemenu" >
            <section class="container" >
                {{range $key, $value := .Params.projectLinks}}
                <div class="row" style="margin-bottom: 16px;">
                    <p style="margin-bottom: 4px;"><b>{{title (i18n $key)}}</b></p>
                    {{range $key, $value := .}}
                    <div class="col-12" style="margin: 4px 0;">
                        <a style="width: 100%" class="mzp-c-button " href="{{$value}}">{{title (i18n $key)}}</a>
                    </div>
                    {{end}}

                </div>
                {{end}}

            </section>
        </nav>
    </aside>
    </div>
</div>

{{end}}
