<div class="container-fluid bg-dark text-bg-dark" data-bs-theme="dark">
    <footer class="py-5 container">
        <div class="row">
            <div class="col-6 col-md-2 mb-3">
                <h5 class="text-bg-dark">{{ title (i18n "footerSectionTR") }}</h5>
                <ul class="nav flex-column">
                    {{ range $i,$item:=.Site.Menus.main }}
                        <li class="nav-item mb-2"><a href="{{.URL | relLangURL}}" class="nav-link p-0 text-body-secondary">{{title (i18n .Name)}}</a></li>
                    {{end}}
                    {{ range $i,$item:=.Site.Menus.contact }}
                        <li class="nav-item mb-2"><a href="{{.URL | relLangURL}}" class="nav-link p-0 text-body-secondary">{{title (i18n .Name)}}</a></li>
                    {{end}}
                </ul>
            </div>
        </div>
        <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
            <p>&copy; {{ now.Format "2006" }} {{.Site.Params.ownerFirstName}} {{.Site.Params.ownerLastName}}.</p>
            <ul class="list-unstyled d-flex">
                {{range .Site.Params.ownerSocialLinks}}
                    <li class="ms-2 me-2"><a class="link-body-emphasis" href="{{.link}}"><i class="{{.bsicon}}"></i></a></li>
                {{end}}
            </ul>
        </div>
    </footer>
</div>
