<nav class="navbar navbar-expand-lg bg-dark border-bottom border-bottom-dark" data-bs-theme="dark">
    <div class="container">
        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarToggler"
                aria-controls="navbarToggler"
                aria-expanded="false"
                aria-label="{{ i18n "navbarToggleNavigationTR" }}">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="{{ .Permalink }}">{{.Site.Params.ownerFirstName}} {{.Site.Params.ownerLastName}}</a>
        <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                {{ range $i,$item:=.Site.Menus.main }}
                <li class="nav-item">
                    <a class="nav-link" href="{{.URL | relLangURL}}">{{title (i18n .Name)}}</a>
                </li>
                {{end}}
                {{if gt 0 (.Site.Menus.more.len )}}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        More
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark p-0" data-bs-theme="dark">
                        <li><h6 class="dropdown-header">Additional Links</h6></li>
                        {{ range $i,$item:=.Site.Menus.more }}
                            <li><a class="dropdown-item" href="{{.URL | relLangURL}}">{{title (i18n .Name)}}</a></li>
                        {{end}}
                    </ul>
                </li>
                {{end}}
                {{ range $i,$item:=.Site.Menus.contact }}
                <li>
                    <a class="nav-link" href="{{.URL | relLangURL}}">{{title (i18n .Name)}}</a>
                </li>
                {{end}}
            </ul>
            <ul class="list-unstyled d-flex m-0">
                {{range .Site.Params.ownerSocialLinks}}
                <li class="ms-2 me-2">
                    <a class="link-body-emphasis"
                       data-bs-toggle="tooltip"
                       data-bs-title="{{i18n .tooltip}}"
                       data-bs-placement="bottom"
                       data-bs-custom-class="bg-dark-tooltip"
                       href="{{.link}}"
                    ><i class="{{.bsicon}}"></i></a></li>
                {{end}}
            </ul>
        </div>
    </div>

</nav>

