<link rel='preconnect' href='https://fonts.gstatic.com' crossorigin>
<link rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;500;600;700&family=IBM+Plex+Sans:wght@300;400;500;600;700&display=swap" >
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;500;600;700&family=IBM+Plex+Sans:wght@300;400;500;600;700&display=swap"  >

<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet"/>
<link href="{{ .Site.BaseURL | absLangURL}}css/styles.min.css" rel="stylesheet">
<link rel="canonical" href="{{ .Permalink }}" itemprop="url" />
<style>

</style>

{{ range .AllTranslations }}
<link
        rel="alternate"
        hreflang="{{ .Language.Lang }}"
        href="{{ .Permalink }}"
        title="{{ .Language.LanguageName }}"
/>
{{ end }}

<link
        rel="sitemap"
        type="application/xml"
        title="Sitemap"
        href="{{ .Site.BaseURL }}sitemap.xml"
/>

{{ with .OutputFormats.Get "RSS" }}
<link
        href="{{ .Permalink }}"
        rel="alternate"
        type="application/rss+xml"
        title="{{ $.Site.Title }}"
/>
<link
        href="{{ .Permalink }}"
        rel="feed"
        type="application/rss+xml"
        title="{{ $.Site.Title }}"
/>

{{ end }}
