{{define "main"}}
<div class="container-fluid vh-100" style="background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('{{.Params.Media}}');">
    <div class="container text-bg-dark">
        <div class="container py-5"> <h1 class="display-5 fw-bold">Custom jumbotron</h1> <p class="col-md-8 fs-4">Using a series of utilities, you can create this jumbotron, just like the one in previous versions of Bootstrap. Check out the examples below for how you can remix and restyle it to your liking.</p> <button class="btn btn-primary btn-lg" type="button">Example button</button> </div>
    </div>

</div>
<div class="mzp-c-split mzp-t-dark" id="project-lead" >
    <div class="mzp-c-split-bg">
        <div class="mzp-c-split-container">
            <div class="mzp-c-split-body ">
            </div>
        </div>
    </div>
</div>

<div class="mzp-l-content">

    <div class="mzp-has-sidebar mzp-l-sidebar-left" >
        <main class="mzp-l-main">
            <article class="mzp-c-article">
                <h1 class="mzp-c-article-title">{{.Title}} </h1>
                <p class="mzp-c-article-intro">{{.Description}}</p>
                {{.Content}}
            </article>
        </main>
        <aside class="mzp-l-sidebar" >
        <nav  class="mzp-c-sidemenu" >
            <section class="container" >
                {{range $key, $value := .Params.projectLinks}}
                <div class="row" style="margin-bottom: 16px;">
                    <p style="margin-bottom: 4px;"><b>{{title (i18n $key)}}</b></p>
                    {{range $key, $value := .}}
                    <div class="col-12" style="margin: 4px 0;">
                        <a style="width: 100%" class="mzp-c-button " href="{{$value}}">{{title (i18n $key)}}</a>
                    </div>
                    {{end}}

                </div>
                {{end}}

            </section>
        </nav>
    </aside>
    </div>
</div>

{{end}}
