
<div class="card h-100 w-100 text-bg-dark" >
  <div class="card-body">
    <p class="h3 text-clamped-2">{{with .cardDescription}}{{ . | truncate 110}}{{end}}</p>
  </div>
    <div class="card-footer bg-transparent border-0">
    <a href="{{with .cardLink}}{{.}}{{else}}#{{end}}" class="card-link stretched-link"></a>
      {{with .cardCTAText}}{{.}}{{end}}
      {{if strings.Contains .cardLink .ctx.Site.BaseURL }}
        <i class="bi bi-arrow-right float-end"></i>
      {{else}}
        <i class="bi bi-box-arrow-up-right float-end"></i>
      {{end}}
    </a>
  </div>
</div>
