<div class="card h-100" >
  <div class="card-body">
    {{with .cardTitle}}<p class="h3 text-clamped-2">{{ . }}</p>{{end}}
    {{with .cardDescription}}<p class="card-text">{{ . }}</p>{{end}}
  </div>
  <div class="card-footer bg-transparent border-0">
    <a href="{{with .cardLink}}{{.}}{{else}}#{{end}}" class="stretched-link">
      {{with .cardCTAText}}{{.}}{{end}}
      {{if strings.Contains .cardLink .ctx.Site.BaseURL }}
        <i class="bi bi-arrow-right float-end"></i>
      {{else}}
        <i class="bi bi-box-arrow-up-right float-end"></i>
      {{end}}
    </a>
  </div>
</div>
