<!--<div class="card w-100 " >-->
<!--    {{with .cardMedia}}-->
<!--        <img src="{{.}}" class="card-img-top h-auto" alt="...">-->
<!--    {{end}}-->
<!--    <div class="card-body">-->
<!--        {{with .cardTag}}<h6 class="card-subtitle mb-2 text-muted"><strong>{{.}}</strong></h6>{{end}}-->
<!--        {{with .cardTitle}}<h5 class="card-title">{{ . | truncate 60}}</h5>{{end}}-->

<!--        {{with .cardDescription}}<p class="card-text"> {{. | truncate 150}}</p>{{end}}-->
<!--        {{with .cardCTAText}}<a href="{{with $.cardLink}}{{.}}{{end}}" class="card-link stretched-link">{{.}}</a>{{end}}-->
<!--    </div>-->
<!--</div>-->
<div class="card " >
    {{with .cardMedia}}
        <div class="card-img-top">
            <img src="{{.}}" class="" alt="">
        </div>
    {{end}}
    <div class="card-body ">
        {{with .cardTag}}<h6 class="card-subtitle mb-2 text-muted"><strong>{{.}}</strong></h6>{{end}}
        {{with .cardTitle}}<h5 class="card-title" >{{.}}</h5>{{end}}
        {{with .cardDescription}}<p class="card-text">{{.}}</p>{{end}}
    </div>
    <div class="card-footer ">
        {{with .cardCTAText}}
            <a href="{{with $.cardLink}}{{.}}{{end}}" class="">{{.}}
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                </svg>

            </a>
        {{end}}


    </div>
</div>
