<!--<div class="card w-100 " >-->
<!--    {{with .cardMedia}}-->
<!--        <img src="{{.}}" class="card-img-top h-auto" alt="...">-->
<!--    {{end}}-->
<!--    <div class="card-body">-->
<!--        {{with .cardTag}}<h6 class="card-subtitle mb-2 text-muted"><strong>{{.}}</strong></h6>{{end}}-->
<!--        {{with .cardTitle}}<h5 class="card-title">{{ . | truncate 60}}</h5>{{end}}-->

<!--        {{with .cardDescription}}<p class="card-text"> {{. | truncate 150}}</p>{{end}}-->
<!--        {{with .cardCTAText}}<a href="{{with $.cardLink}}{{.}}{{end}}" class="card-link stretched-link">{{.}}</a>{{end}}-->
<!--    </div>-->
<!--</div>-->
<div class="card w-100" >
    <div class="row g-0">
        {{with .cardMedia}}
        <div class="col">
            <img src="{{.}}" class="img-fluid h-100 w-auto" alt="...">
        </div>
        {{end}}
        <div class="col">
            <div class="card-body">
                {{with .cardTag}}<h6 class="card-subtitle mb-2 text-muted"><strong>{{.}}</strong></h6>{{end}}
                {{with .cardTitle}}<h5 class="card-title">{{ . | truncate 60}}</h5>{{end}}

                {{with .cardDescription}}<p class="card-text"> {{. | truncate 150}}</p>{{end}}
                {{with .cardCTAText}}<a href="{{with $.cardLink}}{{.}}{{end}}" class="card-link stretched-link">{{.}}</a>{{end}}
            </div>
        </div>
    </div>
</div>
