<div class="card " >
    {{with .cardMedia}}
        <div class="card-img-top">
            <img src="{{.}}" class="" alt="">
        </div>
    {{end}}
    <div class="card-body {{with .cardSm}}card-body-sm{{end}}">
        {{with .cardTag}}<h6 class="card-subtitle mb-2 text-muted"><strong>{{.}}</strong></h6>{{end}}
        {{with .cardTitle}}<h5 class="card-title" >{{.}}</h5>{{end}}
        {{with .cardDescription}}<p class="card-text">{{.}}</p>{{end}}
    </div>
    <div class="card-footer ">
        <a href="{{with .cardLink}}{{.}}{{else}}#{{end}}" class=" card-link">
            {{with .cardCTAText}}{{.}}{{end}}
            {{if strings.Contains .cardLink .ctx.Site.BaseURL }}
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
            </svg>
            {{else}}
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-box-arrow-up-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z"/>
                    <path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z"/>
                </svg>
            {{end}}
        </a>
    </div>
</div>
