<div class="container-fluid bg-dark text-bg-dark p-3 border-bottom d-none" id="cookiesBanner">
    <div class="container w-100 ">
        <div class="row">
            <div class="col-sm-18 col-md-13">
                <small class="mt-1">
                    <span class="d-none d-md-block">
                        {{i18n "infoTextTR"}}
                    </span>
                    {{i18n "agreeNavigationTextTR"}}
                    <br>
                    <a href="#" class="link-light ">{{ i18n "learnMoreLinkTextTR" | title }}</a>
                </small>
            </div>
            <div class="col-sm-18 col-md-5">
                <div class="btn-group-vertical bg-light w-100 mt-2 mt-md-0 " role="group" aria-label="Vertical button group">
                    <a href="https://www.google.com/" class="btn btn-danger">{{i18n "refuseCookiesBtnTextTR" | title}}</a>
                    <button id="cookieApproveBtn" type="button" class="btn btn-light ">{{i18n "allowCookiesBtnTextTR" | title }}</button>
                </div>
            </div>
        </div>
    </div>
</div>

