<div class="container-fluid bg-dark text-bg-dark p-3 border-bottom d-none" id="cookiesBanner">
    <div class="container w-100 ">
        <div class="row">
            <div class="col-sm-18 col-md-13">
                <small class="mt-1">
                    <span class="d-none d-md-block">
                        This website employs cookies and other tracking technologies to enhance your browsing experience.
                        Additionally, these tools assist in analyzing website traffic and gaining insights into our visitors' origins.
                    </span>
                    By accessing and navigating this website, you acknowledge and consent to the utilization of cookies and other tracking technologies.
                    <br>
                    <a href="#" class="link-light ">Learn more</a>
                </small>
            </div>
            <div class="col-sm-18 col-md-5">
                <div class="btn-group-vertical bg-light w-100 mt-2 mt-md-0 " role="group" aria-label="Vertical button group">
                    <a href="https://www.google.com/" class="btn btn-danger">Refuse cookies</a>
                    <button id="cookieApproveBtn" type="button" class="btn btn-light ">Allow cookies</button>
                </div>
            </div>
        </div>
    </div>
</div>

