<div class="mzp-c-card  mzp-t-dark">
  <a class="mzp-c-card-block-link" href="{{with .cardLink}}{{.}}{{end}}">
    <div class="mzp-c-card-content" style="">
      <div class="mzp-c-card-tag">&nbsp; </div>
      <h2 class="mzp-c-card-title">Interested in more articles like this?</h2>
      <p class="mzp-c-card-desc" style="height: 10rem">

      </p>

      <p class="mzp-c-card-cta" >
        <span class="mzp-c-card-cta-text">
          Explore more articles
        </span></p>
      <p class="mzp-c-card-meta"></p>

    </div>
  </a>
</div>
