<section class="container pt-5" >
    <div class="row">
        <div class="col-lg-14 col-sm-18 pt-5">
            <h1 class="text-body-emphasis display-5">{{.header}}</h1>
            <p class="col-lg-14 col-sm-18  fs-5 text-muted">
                {{.description}}
            </p>
            <div class=" d-grid gap-0 d-sm-flex justify-content-md-start">
                <a href="{{absLangURL "/"}}" class="btn btn-dark btn-lg ">{{i18n "notFoundCTATextTR" | title}}</a>
            </div>
        </div>
    </div>

</section>
