<section class="leadspace " >
  <div class="lead-body bg-secondary text-bg-secondary">
    <div class="container h-100" >
      <div class="row align-content-center h-100" >
        <div class="col-md-8 col-sm-12">
          <h1 class="display-4">{{.header}}</h1>
          <p>{{.description}}</p>
          <div class="btn-group-vertical">
            <button class="btn btn-primary" type="button">Navigate to the main page</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
