<nav aria-label="Page navigation example" >
    <ul class="pagination justify-content-center">
        {{if .paginator.HasPrev}}
            <li class="page-item">
                <a class="page-link" href="{{$.ctx.ctx.Permalink}}page/{{sub .paginator.PageNumber 1}}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        {{else}}
            <li class="page-item">
                <a class="page-link disabled" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        {{end}}
        {{range (seq .paginator.TotalPages)}}
            {{if eq . $.paginator.PageNumber}}
                <li class="page-item"><a class="page-link disabled" href="{{$.ctx.ctx.Permalink}}page/{{.}}">{{.}}</a></li>
            {{else}}
                <li class="page-item"><a class="page-link" href="{{$.ctx.ctx.Permalink}}page/{{.}}">{{.}}</a></li>
            {{end}}
        {{end}}

        {{if .paginator.HasNext}}
            <li class="page-item">
                <a class="page-link" href="{{$.ctx.ctx.Permalink}}page/{{add .paginator.PageNumber 1}}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        {{else}}
            <li class="page-item">
                <a class="page-link disabled" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        {{end}}

    </ul>
</nav>
