<div class="test-tile" >
    <img src="https://media.giphy.com/media/1oC7CJVUtvamvwkl6k/giphy.gif" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
            Fusce sit amet augue pretium, commodo neque ac,
            interdum quam. Cras non urna risus. Maecenas mauris leo, elementum sed est
            in, blandit aliquet est. Fusce et ex nisl. Ut porta ligula enim, in tincidunt
        </p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>
