<div aria-live="polite" aria-atomic="true" class="bg-body-tertiary position-absolute top-50 end-0 w-25 border-black">
    <div class="toast-container p-3" id="toastPlacement">
        <div class="toast ">
            <div class="toast-body">
                <small class="mt-1">
                    We use cookies and other tracking technologies to improve your browsing
                    experience on our website, to show you personalized content and targeted ads,
                    to analyze our website traffic, and to understand where our visitors are coming from.
                    By browsing our website, you consent to our use of cookies and other tracking technologies.
                    <br>
                    <a href="#" >Learn more</a>
                </small>
            </div>
        </div>
    </div>
    <div class="btn-group w-100" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-outline-dark btn-lg">Refuse cookies</button>
        <button type="button" class="btn btn-dark btn-lg">Allow cookies</button>
    </div>
</div>
