{{if .IsTranslated}}
<nav id="translations" style="float: right;">
    <ul>


        {{range $i,$item:=.Translations}}
        <li style="float:right">
            <a href="{{$item.Permalink}}">
                {{if ne ($item.Param "languageFlagImgPath") ""}}
                <span>
                <img alt="Flag spain" style="width: 0.75rem;height: 0.75rem" src="{{$item.Param " languageFlagImgPath"}}" >
            </span>
                {{end}}
                {{.Site.Language.LanguageName}}
                {{if ne $i 0}}|&nbsp;{{end}}
            </a>
        </li>

        {{end}}
        <li style="float:right">
            <a style="color:green">
                &rarr;&nbsp;{{.Site.Language.LanguageName}}&nbsp;|&nbsp;
            </a>
        </li>
    </ul>

</nav>
{{end}}
