{{ $allProjects:= where .ctx.Site.Pages "Section" "portfolio"   }}
{{ $projects:=(where $allProjects ".IsPage" true).Reverse}}
{{ $listPage:=(first 1 (where $allProjects ".IsNode" true)) }}
{{ $paginator:=.ctx.Paginate $projects 4}}
{{if .onHome}}
    {{if gt (len $projects) 0}}
        <div class="row">
            <div class="col-sm-12 col-lg-3">
                <h5 class="pb-sm-1"><strong>What I have been working on lately</strong></h5>
            </div>
            <div class="col">
        <div class="row g-0">
            {{range $i,$project:=first 4 $projects}}
            <div class="col-6">
                {{- partial "components/card.html"
                ( dict
                "ctx" .
                "cardTitle" .Params.Title
                "cardDescription" .Params.Description
                "cardCTAText" "Find out more"
                "cardLink" .Permalink
                "cardMedia" $project.Params.Media
                "cardLargeType" true
                )
                -}}
            </div>
            {{end}}
            <div class="col-6">
                <div class="card w-100 bg-dark text-bg-dark" >
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                    </div>
                </div>
            </div>
        </div>


    </div>
        </div>
    {{end}}
{{else}}
    {{if gt (len $projects) 0}}
        <section class="container pt-5">
            <div class="row">
                <div class="col-4">
                    <h5><strong>Recent projects</strong></h5>
                    <p>Latest projects that I have been working on</p>
                </div>
                <div class="col">
                    <div class="row g-0">
                        {{range $i,$project:=$paginator.Pages}}
                        <div class="col">
                            {{- partial "components/card.html"
                            ( dict
                            "ctx" .
                            "cardTitle" .Params.Title
                            "cardDescription" .Params.Description
                            "cardCTAText" "Find out more"
                            "cardLink" .Permalink
                            "cardMedia" $project.Params.Media
                            )
                            -}}
                        </div>
                        {{end}}
                    </div>
                </div>
            </div>

            {{- partial "components/pagination" (dict "ctx" . "paginator" $paginator) -}}
        </section>

    {{else}}
        {{- partial "components/newsletter" (dict "ctx" .
        "nlHeader" (humanize (i18n "projectsSectionNoDataHeaderTr"))
        "nlDescription" (humanize (i18n "projectsSectionNoDataContentTr"))
        "nlImage" "/img/illustrations/Sprinkle_5.svg" ) -}}
    {{end}}

{{end}}
