<footer class="mzp-c-footer">
    <div class="mzp-l-content" style="padding-bottom: 0;">

        <nav class="mzp-c-footer-primary">
            <div class="mzp-c-footer-sections">

                <section class="mzp-c-footer-section">
                    <h4 class="mzp-c-footer-heading">
                        Site links
                    </h4>
                    <ul class="mzp-c-footer-list">
                        {{ range $i,$item:=.Site.Menus.main }}
                        <li>
                            <a href="{{.URL | relLangURL}}">{{title (i18n .Name)}}</a>
                        </li>
                        {{end}}
                    </ul>
                </section>

                <section class="mzp-c-footer-section">
                    <h4 class="mzp-c-footer-heading">
                        Socials
                    </h4>
                    <ul class="mzp-c-footer-list">
                        {{range .Site.Params.ownerSocialLinks}}
                            <li>
                                <a href="{{.link}}">{{title .name}}</a>
                            </li>
                        {{end}}
                    </ul>
                </section>

                <section class="mzp-c-footer-section">
                    <h5 class="mzp-c-footer-heading">
                        Projects
                    </h5>
                    <ul class="mzp-c-footer-list">
                        <li>
                            <a href="https://www.mozilla.org/firefox/new/">Link One</a>
                        </li>
                        <li>
                            <a href="https://www.mozilla.org/firefox/">Link Two</a>
                        </li>
                        <li>
                            <a href="https://www.mozilla.org/firefox/mobile/">Link Three</a>
                        </li>
                        <li>
                            <a href="https://www.mozilla.org/firefox/features/">Link Four</a>
                        </li>
                        <li>
                            <a href="https://www.mozilla.org/firefox/channel/desktop/">Long link just to mix things up and cause problems.</a>
                        </li>
                        <li>
                            <a href="https://www.mozilla.org/firefox/channel/desktop/">Link Six</a>
                        </li>
                    </ul>
                </section>

            </div>
        </nav>

        <nav class="mzp-c-footer-secondary">
            <div class="mzp-c-footer-language">
                <form class="mzp-c-language-switcher" method="get" action="#">

                    <label for="mzp-c-language-switcher-select">Language</label>
                    <select name="language" id="mzp-c-language-switcher-select" class="mzp-js-language-switcher-select">
                        <option value="en">English</option>
                        <option value="ro">Romana</option>
                        <option value="es">Español</option>

                    </select>

                    <!-- form submit button is shown when JavaScript is not enabled -->
                    <button type="submit">Go</button>
                </form>

            </div>

            <div class="mzp-c-footer-legal">
                <p class="mzp-c-footer-license">
                    Dan Baghilovici @ 2022 | Theme made with Mozila's Protocol Theme and much <3
                </p>
            </div>
        </nav>

    </div>
</footer>
