<footer class="mzp-c-footer">
    <div class="mzp-l-content" style="padding-bottom: 0;">

        <nav class="mzp-c-footer-primary">
            <div class="mzp-c-footer-sections">

                <section class="mzp-c-footer-section">
                    <h4 class="mzp-c-footer-heading">
                        {{humanize (i18n "allSectionsHeaderTr")}}
                    </h4>
                    <ul class="mzp-c-footer-list">
                        {{ range $i,$item:=.Site.Menus.main }}
                        <li>
                            <a href="{{.URL | relLangURL}}">{{title (i18n .Name)}}</a>
                        </li>
                        {{end}}
                        {{ range $i,$item:=.Site.Menus.more }}
                        <li>
                            <a href="{{.URL | relLangURL}}">{{title (i18n .Name)}}</a>
                        </li>
                        {{end}}
                    </ul>
                </section>



                <section class="mzp-c-footer-section">
                    <h4 class="mzp-c-footer-heading">
                        {{humanize (i18n "moreSectionSocialsHeaderTr")}}
                    </h4>
                    <ul class="mzp-c-footer-list">
                        {{range .Site.Params.ownerSocialLinks}}
                            <li>
                                <a href="{{.link}}" class="external-link-dark">{{title .name}}</a>
                            </li>
                        {{end}}
                    </ul>
                </section>
            </div>
        </nav>

        <nav class="mzp-c-footer-secondary">
            <div class="mzp-c-footer-legal" >
                <p class="mzp-c-footer-license" >
                    {{.Site.Params.ownerFirstName}} {{.Site.Params.ownerLastName}} @ {{ dateFormat "2006" now }} | {{(i18n "footerPrintTr") | safeHTML}}
                </p>
            </div>
        </nav>
    </div>
</footer>
