<head>

    <link href="{{ .Site.BaseURL | absLangURL}}css/protocol.css" rel="stylesheet">
    <link href="{{ .Site.BaseURL | absLangURL}}css/protocol-components.css" rel="stylesheet">
<!--    <link href="{{ .Site.BaseURL | absLangURL}}css/custom.css" rel="stylesheet">-->

    <script src="{{ .Site.BaseURL | absLangURL}}js/protocol-base.js"></script>
    <script src="{{ .Site.BaseURL | absLangURL}}js/protocol-utils.js"></script>
    <script src="{{ .Site.BaseURL | absLangURL}}js/protocol-supports.js"></script>
    <script defer src="{{ .Site.BaseURL | absLangURL}}js/protocol-details.js"></script>
    <script defer src="{{ .Site.BaseURL | absLangURL}}js/protocol-footer.js"></script>
    <script defer src="{{ .Site.BaseURL | absLangURL}}js/protocol-navigation.js"></script>
    <script defer src="{{ .Site.BaseURL | absLangURL}}js/protocol-sidemenu.js"></script>



    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer>
        window.onload = function (){
            Mzp.Navigation.init()
            // Mzp.Menu.init();
        }
    </script>

</head>
