<head>
<!--    <link rel="preconnect" href="https://fonts.googleapis.com">-->
<!--    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>-->

<!--    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">-->
    <link href="{{ .Site.BaseURL | absLangURL}}css/protocol.css" rel="stylesheet">
    <link href="{{ .Site.BaseURL | absLangURL}}css/protocol-components.css" rel="stylesheet">
<!--    <link href="{{ .Site.BaseURL | absLangURL}}css/custom.css" rel="stylesheet">-->

    <script defer src="{{ .Site.BaseURL | absLangURL}}js/protocol-base.js"></script>
    <script defer src="{{ .Site.BaseURL | absLangURL}}js/protocol-utils.js"></script>
    <script defer src="{{ .Site.BaseURL | absLangURL}}js/protocol-supports.js"></script>
    <script defer src="{{ .Site.BaseURL | absLangURL}}js/protocol-details.js"></script>
    <script defer src="{{ .Site.BaseURL | absLangURL}}js/protocol-footer.js"></script>
    <script defer src="{{ .Site.BaseURL | absLangURL}}js/protocol-navigation.js"></script>
    <script defer src="{{ .Site.BaseURL | absLangURL}}js/protocol-sidemenu.js"></script>
    <script defer src="{{ .Site.BaseURL | absLangURL}}js/protocol-sticky-promo.js"></script>



    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer>
        window.onload = function (){
            Mzp.Navigation.init()
            // Mzp.Menu.init();
            document.querySelectorAll("article a").forEach(node=>{
                if (!node.getAttribute("href").includes("{{.Site.BaseURL}}")){
                    node.setAttribute("target","_blank");
                    node.classList.add("external-link");
                    console.info("node "+node+" has been set");
                }
            });
        }
    </script>

</head>
