<div class="mzp-c-navigation mzp-is-sticky ">
    <div class="mzp-c-navigation-l-content">
        <div class="mzp-c-navigation-container">
            <button class="mzp-c-navigation-menu-button has-label" type="button" aria-controls="navigation-demo">
                {{humanize (i18n "navbarMenuOpenedTr")}}
            </button>

            <div class="mzp-c-navigation-items" id="navigation-demos">
                <div class="mzp-c-navigation-menu">
                    <nav class="mzp-c-menu mzp-is-basic">
                        <ul class="mzp-c-menu-category-list">
                            {{ range $i,$item:=.Site.Menus.main }}
                                <li class="mzp-c-menu-category">
                                    <a class="mzp-c-menu-title" href="{{.URL | relLangURL}}">{{title (i18n .Name)}}</a>
                                </li>
                            {{end}}

                            <li class="mzp-c-menu-category mzp-has-drop-down mzp-js-expandable ">
                                <div class="expandable">
                                    <p class="mzp-c-menu-title"  aria-haspopup="true" aria-controls="mzp-c-menu-panel-example">
                                        {{title (i18n "headerMoreSectionsTr")}}
                                    </p>
                                </div>

                                <div class="mzp-c-menu-panel " id="mzp-c-menu-panel-example">
                                    <div class="mzp-c-menu-panel-container">
                                        <button class="mzp-c-menu-button-close has-label" type="button" aria-controls="mzp-c-menu-panel-example">
                                            {{humanize (i18n "navbarMenuCloseTr")}}
                                        </button>
                                        <div class="mzp-c-menu-panel-content">
                                            <ul>
                                                <li>
                                                    <section class="mzp-c-menu-item">
                                                        <div class="mzp-c-menu-item-head">
                                                            <h3 class="mzp-c-menu-item-title">{{title (i18n "moreSectionAdditionalLinksHeaderTr")}}</h3>
                                                        </div>

                                                        <ul class="mzp-c-menu-item-list">

                                                            {{ range $i,$item:=.Site.Menus.more }}
                                                            <li>
                                                                    <a href="{{.URL | relLangURL}}">{{title (i18n .Name)}}</a>
                                                            </li>
                                                            {{end}}
                                                        </ul>

                                                    </section>

                                                </li>
                                                <li>
                                                    <section class="mzp-c-menu-item  ">
                                                        <div class="mzp-c-menu-item-head">
                                                            <h5 class="mzp-c-menu-item-title">{{title (i18n "moreSectionSocialsHeaderTr")}}</h5>
                                                        </div>

                                                        <ul class="mzp-c-menu-item-list">
                                                            {{range .Site.Params.ownerSocialLinks}}
                                                            <li>
                                                                <a href="{{.link}}" class="external-link">{{title .name}}</a>
                                                            </li>
                                                            {{end}}

                                                        </ul>

                                                    </section>
                                                </li>
                                            </ul>
                                            <ul>
                                                <li>
                                                    <section class="mzp-c-menu-item  ">
                                                        <div class="mzp-c-menu-item-head">
                                                            <h5 class="mzp-c-menu-item-title">{{title (i18n "moreSectionLanguagesHeaderTr")}}</h5>
                                                        </div>
                                                        <ul class="mzp-c-menu-item-list">
                                                            <li>
                                                                <p class="mzp-c-cta-link">{{.Site.Language.LanguageName}} <img src="/img/icons/check.svg" width="16" alt=""></p>
                                                            </li>
                                                            {{range .Translations}}
                                                            <li>
                                                                <a href="{{ .Permalink }}" >{{ .Language.LanguageName }} </a>
                                                            </li>
                                                            {{end}}

                                                        </ul>
                                                    </section>
                                                </li>
                                            </ul>



                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </nav>

                </div>
            </div>
        </div>
    </div>
</div>
