{{define "main"}}
<div class="mzp-c-billboard mzp-l-billboard-right mzp-c-billboard-transparent" >
    <div class="mzp-c-billboard-image-container">
        <img class="mzp-c-billboard-image" src="/img/illustrations/Punctuation_3.svg" alt="">
    </div>
    <div class="mzp-c-billboard-content">
        <div class="mzp-c-billboard-content-container">
            <div class="mzp-c-billboard-content-inner">
                <h2 class="mzp-c-billboard-title">Not Found</h2>
                <p class="mzp-c-billboard-desc">It seems the page you are trying to reach is not available.</p>
                <a class="mzp-c-cta-link" href="/">Go back to About page</a>
            </div>
        </div>
    </div>
</div>

{{end}}
