{{define "main"}}
<div class="mzp-l-content">
    <section class="mzp-c-call-out" >
        <div class="mzp-l-content" >
            <h2 class="mzp-c-call-out-title">The page you are trying to access does not exists</h2>
            <div class="mzp-c-call-out-desc">
                <p>A description of about 150 characters, give or take. That means we usually only have room for one or two sentences. Here is what that looks like.</p>
            </div>

            <p><a class="mzp-c-button" href="#">Go back to the home page</a></p>
        </div>
    </section>
</div>

{{end}}
