{{define "main"}}


<section>
    <h1>{{i18n "homeAboutShortDescriptionTranslation"}}</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates, unde. Illum accusantium molestiae inventore ex molestias consequuntur?</p>
    <p>Exercitationem id aut maxime distinctio autem! Iste incidunt fuga voluptate amet. Officiis unde ex deleniti ad velit optio qui accusantium, id suscipit eius nemo exercitationem quae enim consequatur. Quas vitae, amet rem beatae sequi porro.</p>
    <p>Numquam esse, minima ullam architecto vel ipsa voluptatum unde ut odit aliquam corporis et deleniti earum a maxime dicta sapiente iste consequatur iusto delectus voluptas veniam nam alias.</p>
    <p>Nesciunt harum iure delectus eveniet consequuntur quod, beatae cupiditate soluta eos, temporibus minus quas, ducimus nulla asperiores provident voluptas repudiandae!</p>
</section>
<section>
    <h2>Demo content to show scroll behaviour</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates, unde. Illum accusantium molestiae inventore ex molestias consequuntur?</p>
    <p>Exercitationem id aut maxime distinctio autem! Iste incidunt fuga voluptate amet. Officiis unde ex deleniti ad velit optio qui accusantium, id suscipit eius nemo exercitationem quae enim consequatur. Quas vitae, amet rem beatae sequi porro.</p>
    <p>Numquam esse, minima ullam architecto vel ipsa voluptatum unde ut odit aliquam corporis et deleniti earum a maxime dicta sapiente iste consequatur iusto delectus voluptas veniam nam alias.</p>
    <p>Nesciunt harum iure delectus eveniet consequuntur quod, beatae cupiditate soluta eos, temporibus minus quas, ducimus nulla asperiores provident voluptas repudiandae!</p>
</section>
<section>
    <h3>Demo content to show scroll behaviour</h3>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates, unde. Illum accusantium molestiae inventore ex molestias consequuntur?</p>
    <p>Exercitationem id aut maxime distinctio autem! Iste incidunt fuga voluptate amet. Officiis unde ex deleniti ad velit optio qui accusantium, id suscipit eius nemo exercitationem quae enim consequatur. Quas vitae, amet rem beatae sequi porro.</p>
    <p>Numquam esse, minima ullam architecto vel ipsa voluptatum unde ut odit aliquam corporis et deleniti earum a maxime dicta sapiente iste consequatur iusto delectus voluptas veniam nam alias.</p>
    <p>Nesciunt harum iure delectus eveniet consequuntur quod, beatae cupiditate soluta eos, temporibus minus quas, ducimus nulla asperiores provident voluptas repudiandae!</p>
</section>
<section>
    <h4>Demo content to show scroll behaviour</h4>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates, unde. Illum accusantium molestiae inventore ex molestias consequuntur?</p>
    <p>Exercitationem id aut maxime distinctio autem! Iste incidunt fuga voluptate amet. Officiis unde ex deleniti ad velit optio qui accusantium, id suscipit eius nemo exercitationem quae enim consequatur. Quas vitae, amet rem beatae sequi porro.</p>
    <p>Numquam esse, minima ullam architecto vel ipsa voluptatum unde ut odit aliquam corporis et deleniti earum a maxime dicta sapiente iste consequatur iusto delectus voluptas veniam nam alias.</p>
    <p>Nesciunt harum iure delectus eveniet consequuntur quod, beatae cupiditate soluta eos, temporibus minus quas, ducimus nulla asperiores provident voluptas repudiandae!</p>
</section>
{{end}}
