{{ $allBlogs:= where .ctx.Site.Pages "Section" "blog"   }}
{{ $blogPosts:=(where $allBlogs ".IsPage" true).Reverse}}
{{ $listPage:=(first 1 (where $allBlogs ".IsNode" true)) }}
{{ $paginator:= .ctx.Paginate $blogPosts 2}}
{{if .onHome}}
    <h2>What I have been writing about lately</h2>
    {{if gt (len $blogPosts) 0}}
        <section class="mzp-l-card-quarter">
            <div >
                {{range first 3 $blogPosts}}
                    {{- partial "components/card.html"
                    ( dict
                    "ctx" .
                    "cardTag" "Java"
                    "cardTitle" .Params.Title
                    "cardDescription" .Params.Description
                    "cardCTAText" "Read more"
                    "cardLink" .Permalink
                    "cardMeta" "*Not applicable"
                    )
                    -}}
                {{end}}
                {{if gt (len $blogPosts) 3}}
                    {{range $listPage}}
                        {{- partial "components/index-card.html"
                        ( dict
                        "ctx" .
                        "cardTitle" "Ceva"
                        "cardDescription" "asd"
                        "cardCTAText" "Read more"
                        "cardLink" .Permalink
                        )
                        -}}
                    {{end}}
                {{end}}
            </div>
        </section>

    {{end}}
{{else}}
<div class=" mzp-l-card-quarter">
    {{if gt (len $blogPosts) 0}}
        {{range $paginator.Pages}}
            {{- partial "components/card.html"
            ( dict
            "ctx" .
            "cardTag" "Java"
            "cardTitle" .Params.Title
            "cardDescription" .Params.Description
            "cardCTAText" "Read more"
            "cardLink" .Permalink
            "cardMeta" "*Not applicable"
            )
            -}}
        {{end}}
    {{end}}
</div>
{{- partial "components/pagination" (dict "ctx" . "paginator" $paginator) -}}
{{end}}
