{{ $allProjects:= where .ctx.Site.Pages "Section" "portfolio"   }}
{{ $projects:=(where $allProjects ".IsPage" true).Reverse}}
{{ $listPage:=(first 1 (where $allProjects ".IsNode" true)) }}
{{ $paginator:=.ctx.Paginate $projects 4}}
{{if .onHome}}
    {{if gt (len $projects) 0}}
        <section class="" >
            <h2>What I have been working on lately</h2>

            <div class="mzp-l-card-half">

                {{range $i,$project:=first 4 $projects}}
                {{- partial "components/card.html"
                ( dict
                "ctx" .
                "cardTitle" .Params.Title
                "cardDescription" .Params.Description
                "cardCTAText" "Find out more"
                "cardLink" .Permalink
                "cardMedia" $project.Params.Media
                "cardLargeType" true
                )
                -}}
                {{end}}
            </div>
        </section>
    {{end}}
{{else}}
    {{if gt (len $projects) 0}}
        <section>
            {{range $i,$project:=$paginator.Pages}}
            {{- partial "components/call-out.html"
            ( dict
            "ctx" .
            "callOutReversed" (eq (mod $i 2) 0)
            "callOutTitle" .Params.Title
            "callOutDescription" .Params.Description
            "callOutCtaText" "Read more"
            "callOutCtaLink" .Permalink
            "callOutMedia" .Params.Media
            )
            -}}
            {{end}}
        </section>
        <br/>
        {{- partial "components/pagination" (dict "ctx" . "paginator" $paginator) -}}
    {{else}}
        {{- partial "components/newsletter" (dict "ctx" .
        "nlHeader" "No blog posts have been imported yet"
        "nlDescription" "Sign up for my newsletter to"
        "nlImage" "/img/illustrations/Sprinkle_5.svg" ) -}}
    {{end}}

{{end}}
