{{ $allProjects:= where .ctx.Site.Pages "Section" "portfolio"   }}
{{ $projects:=(where $allProjects ".IsPage" true).Reverse}}
{{ $listPage:=(first 1 (where $allProjects ".IsNode" true)) }}
{{ $paginator:=.ctx.Paginate $projects 4}}
<section id="portfolio-list-section" >
    {{if .onHome}}
        <h2>What I have been working on lately</h2>

        <div class="mzp-l-card-half">

            {{range $i,$project:=first 4 $projects}}
                {{- partial "components/card.html"
                ( dict
                "ctx" .
                "cardTitle" .Params.Title
                "cardDescription" .Params.Description
                "cardCTAText" "Find out more"
                "cardLink" .Permalink
                "cardMedia" $project.Params.Media
                "cardLargeType" true
                )
                -}}
            {{end}}
    {{else}}
        {{range $i,$project:=$paginator.Pages}}
            {{- partial "components/call-out.html"
            ( dict
            "ctx" .
            "callOutReversed" (eq (mod $i 2) 0)
            "callOutTitle" .Params.Title
            "callOutDescription" .Params.Description
            "callOutCtaText" "Read more"
            "callOutCtaLink" .Permalink
            "callOutMedia" .Params.Media
            )
            -}}
        {{end}}
        <br/>
        {{- partial "components/pagination" (dict "ctx" . "paginator" $paginator) -}}
    {{end}}

</section>
