<section class="mzp-c-split {{with .callOutSplit}} mzp-l-split-reversed {{end}}" style="padding: 0;">
    <div class="mzp-c-split-bg  mzp-t-background-tertiary">
        <div class="mzp-c-split-container">
            <div class="mzp-c-split-body ">

                {{with .callOutTitle}}<h1 class="mzp-u-title-md">{{.}}</h1>{{ end}}
                {{with .callOutDescription}}<p>{{. | truncate 200}}</p>{{end}}
                {{with .callOutCtaText}}<p><a class="mzp-c-button mzp-t-dark" {{with $.callOutCtaLink}} href="{{.}}" {{end}}>{{.}}</a></p>{{end}}

            </div>
            {{with .callOutMedia}}
            <div class="mzp-c-split-media">
                <img class="mzp-c-split-media-asset" src="{{.}}" alt="" >
            </div>
            {{end}}
        </div>
    </div>
</section>
